/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply flex bg-red-500 text-white px-3 py-1
    }
    
    .btn-outline {
        @apply flex bg-transparent text-red-400 border border-red-400 px-3 py-1
    }
}

@layer utilities {
    .text-stroke{
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
    }
}
@supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }

*::-webkit-scrollbar{
    display: none;
}

/* Transiciones */
/* Creditos */
.creditos-enter-from, .creditos-leave-to{
    opacity: 0;
    scale: 0;
}
.creditos-enter-to, .creditos-leave-from{
    opacity: 1;
    scale: 1;
}
.creditos-enter-active, .creditos-leave-active{
    transition: all 500ms ease-in-out;
}